<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <script src="https://kit.fontawesome.com/319bcfef20.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <ul>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i>></li></a>
            <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i>></li></a>
            <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i>></li></a>
            <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i>></li></a>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i>></li></a>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i>></li></a>
        </ul>
    </header>
    <main>
        <h3> EMILIA <br> COLE// </h3>
        <h1>TWIST IN MY REALITY</h1>
        <img src="images/emilia-home.jpg" alt="Imagen de portada" width="100%">
        
    </main>
</body>
</html>