<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - Music</title>
    <script src="https://kit.fontawesome.com/319bcfef20.js" crossorigin="anonymous"></script>
</head>
<body>
    <header id="Top">
        <img src="/images/emilia-music-top.jpg" alt="background header music">
        <nav>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            </ul>
        </nav>
        <ul>
            <li><a href="https://twitter.com/" target="_blank"><i class="fa-brands fa-x-twitter"></i>></li></a>
            <li><a href="https://facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i>></li></a>
            <li><a href="https://open.spotify.com/" target="_blank"><i class="fa-brands fa-spotify"></i>></li></a>
            <li><a href="https://www.apple.com/" target="_blank"><i class="fa-brands fa-apple"></i>></li></a>
            <li><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i>></li></a>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i>></li></a>
        </ul>
    </header> 
    <section>
        <h1>MUSIC//</h1>
        <h4>Direct links</h4>
        <ul>
            <li><a href="#Album">Album</a></li>
            <li><a href="#video1">Video:Organic love</a></li>
            <li><a href="#video2">Video:Street Light</a></li>
        </ul>
        <article>
            <h2 id="Album">ALBUM <br> TWIST IN MY REALITY</h2>
            <img src="/images/emilia-play-list.png" alt="Imagen del album">
            <ol type ="1" >
                <li><a href="https://vimeo.com/135166028" target="_blank"><i class="fa-solid fa-play"> Organic Love | 02:40 </i></a></li>
                <li><a href=" https://vimeo.com/134861419" target="_blank"><i class="fa-solid fa-play"> Twist In My Reality | 02:10</i></a></li>
                <li><a href=""><i class="fa-solid fa-play"> Street Light | 03:28 </i></a></li>
                <li><a href=""><i class="fa-solid fa-play"> Love Don´t Live Here Anymore (Cover) | 03:49 </i></a></li>
            </ol>
            <a href="#">go top</a>
        </article>
        <article id="video1">
            <h4>VIDEO <br> ORGANIC LOVE</h4>
            <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
            <div>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,
                    Wix Films LTD.</p>
    
            </div>
            <a href="#">go top</a>
        </article>
       
        <article id="video2">
            <h4>VIDEO <br> STREET LIGHT</h4>
            <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>

            <div>
                <p>Directed by VINCE MALC & EMILIA COLE</p>
                <p>Edited and Filmed by NICOLAS TROY</p>
                <p>Produced by NIKI HEART,
                    Wix Films LTD.</p>
        </article>
        <a href="#">go top</a>
    </section>
    
</body>
</html>